<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Format Instructions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col size="10" offset="1">
        <ion-row >
          <ion-label class="center">Open the transcript with Microsoft word</ion-label>
        </ion-row>
        <ion-row class="ion-padding">
          <ion-img [src]="insImg1" class="center"></ion-img>
        </ion-row>
        <ion-row class="ion-padding">
          <ion-img [src]="insImg2" class="center"></ion-img>
        </ion-row>
        <ion-row class="ion-padding">
          <ion-label class="center">Remove any rows that do not contain information required in the final script e.g.</ion-label>
        </ion-row>
        <ion-row class="ion-padding">
          <ion-img [src]="insImg3" class="center"></ion-img>
        </ion-row>
        <ion-row class="ion-padding">
          <ion-label class="center">
            The remaining table should include only these items: Segment Title, Script Text and Line Breaks
          </ion-label>
        </ion-row>
        <ion-row class="ion-padding">
          <ion-label class="center">Segment Title</ion-label>
        </ion-row>

        <ion-row class="ion-padding">
          <ion-img [src]="insImg4" class="center"></ion-img>
        </ion-row>
        <ion-row class="ion-padding">
          <ion-label class="center">Script Text (English and Chinese)</ion-label>
        </ion-row>
        <ion-row class="ion-padding">
          <ion-img [src]="insImg5" class="center"></ion-img>
        </ion-row>
        <ion-row class="ion-padding">
          <ion-label class="center">Line Breaks </ion-label>
        </ion-row>
        <ion-row class="ion-padding">
          <ion-img [src]="insImg6" class="center"></ion-img>
        </ion-row>
        <ion-row class="ion-padding">
            <ion-label class="center">Your formatted script might look like this: </ion-label>
          </ion-row>
          <ion-row class="ion-padding">
            <ion-img [src]="insImg7" class="center"></ion-img>
          </ion-row>
          <ion-row class="ion-padding">
              <ion-label class="center">Select the entire table and copy its contents </ion-label>
            </ion-row>
            <ion-row class="ion-padding">
              <ion-img [src]="insImg8" class="center"></ion-img>
            </ion-row>
            <ion-row class="ion-padding">
                <ion-label class="center">Open notepad and paste the contents </ion-label>
              </ion-row>
              <ion-row class="ion-padding">
                <ion-img [src]="insImg9" class="center"></ion-img>
              </ion-row>
              <ion-row class="ion-padding">
                  <ion-label class="center">Review the script and ensure that it is in the required format </ion-label>
                </ion-row>
                <ion-row class="ion-padding">
                  <ion-img [src]="insImg10" class="center"></ion-img>
                </ion-row>
                <ion-row class="ion-padding">
                    <ion-label class="center">Do note that each line is tab delineated, with at least 1 tab between each column </ion-label>
                  </ion-row>
                  <ion-row class="ion-padding">
                    <ion-img [src]="insImg11" class="center"></ion-img>
                  </ion-row>
                  <ion-row class="ion-padding">
                      <ion-label class="center">Segment Titles should be contained in a single row</ion-label>
                    </ion-row>
                    <ion-row class="ion-padding">
                      <ion-img [src]="insImg12" class="center"></ion-img>
                    </ion-row>
                    <ion-row class="ion-padding">
                        <ion-label class="center">Correct such formatting errors</ion-label>
                      </ion-row>
                      <ion-row class="ion-padding">
                        <ion-img [src]="insImg13" class="center"></ion-img>
                      </ion-row>
                      <ion-row class="ion-padding">
                          <ion-label class="center">Script text should be contained in a single row</ion-label>
                        </ion-row>
                        <ion-row class="ion-padding">
                          <ion-img [src]="insImg14" class="center"></ion-img>
                        </ion-row>
                        <ion-row class="ion-padding">
                            <ion-label class="center">Correct these formatting errors as well</ion-label>
                          </ion-row>
                          <ion-row class="ion-padding">
                            <ion-img [src]="insImg15" class="center"></ion-img>
                          </ion-row>
                          <ion-row class="ion-padding">
                              <ion-label class="center">Once you have completed this review, copy the text and select the Convert tab</ion-label>
                            </ion-row>
                            <ion-row class="ion-padding">
                              <ion-img [src]="insImg16" class="center"></ion-img>
                            </ion-row>
                            <ion-row class="ion-padding">
                                <ion-img [src]="insImg17" class="center"></ion-img>
                              </ion-row>
                              <ion-row class="ion-padding">
                                  <ion-label class="center">Paste the text in the Transcript Text section</ion-label>
                                </ion-row>
                                <ion-row class="ion-padding">
                                  <ion-img [src]="insImg18" class="center"></ion-img>
                                </ion-row>
                                <ion-row class="ion-padding">
                                    <ion-label class="center">Scroll down and click Convert</ion-label>
                                  </ion-row>
                                  <ion-row class="ion-padding">
                                    <ion-img [src]="insImg19" class="center"></ion-img>
                                  </ion-row>
                                  <ion-row class="ion-padding">
                                      <ion-label class="center">The converted script is displayed in the output section</ion-label>
                                    </ion-row>
                                    <ion-row class="ion-padding">
                                      <ion-img [src]="insImg20" class="center"></ion-img>
                                    </ion-row>
                                    <ion-row class="ion-padding">
                                        <ion-label class="center">You may now copy this text to the prompter app (easyprompter) or copy it to a USB stick for transfer</ion-label>
                                      </ion-row>
                
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
